@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.video {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

[type=radio], span {
  vertical-align: middle;
}

[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000;
  border-radius: 50%;
  width: 1.3em;
  height: 1.25em;
  -webkit-transition: border 0.1s ease-in-out;
  transition: border 0.1s ease-in-out;
}

[type=radio]:checked {
  border: 0.3em solid #000;
}

[type=radio]:focus-visible {
  outline-offset: 1px;
  outline: 1px dotted #000;
}

[type=radio]:hover {
  -webkit-box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
          box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type=radio]:hover + span {
  cursor: pointer;
}

[type=radio]:disabled {
  background-color: lightgray;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type=radio]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: -webkit-gradient(linear, left top, right top, from(#96e3ff), to(#96fffa));
  background: linear-gradient(to right, #96e3ff, #96fffa);
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.row__gap {
  margin-bottom: 0.5em;
}

.asterisk--pink {
  color: #f83152;
}

.check__icon {
  padding: 0.3em 0.6em 0.6em;
  display: inline-block;
  border-radius: 99em;
  background-color: #efefef;
}
.check__icon__mark {
  width: 0.5em;
  height: 0.8em;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.check__icon--checked {
  background-color: #f83152;
}

#wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 500px;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
}
#wrap::-webkit-scrollbar {
  display: none;
}
#wrap .overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vh - 2.6em);
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

@media only screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .bg__area {
    display: none;
  }
}
.bg__area {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.bg__area__left__list {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-bottom: 4em;
  padding-right: 5em;
  border-bottom: 2px solid #fff;
}
.bg__area__left__list__text {
  line-height: 1.3em;
  font-size: 3.3em;
  font-weight: 700;
  color: #fff;
}
.bg__area__right__person {
  position: absolute;
  bottom: -5px;
  width: 20em;
}
.bg__area__right__person img {
  width: 100%;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  padding: 0 1.3em;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
}
.header__nav__list__link img {
  width: 2.5em;
}
.header__nav__list__logo img {
  width: 4.4em;
}

.main {
  position: relative;
  padding: 6rem 0;
}
.main__image img {
  width: 100%;
}
.main__btn {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}
.main__btn__item {
  padding: 0.75em 0;
  text-align: center;
  line-height: 1.4em;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0.4em;
  cursor: pointer;
}
.main__btn__item--pink {
  color: #fff;
  background-color: #f83152;
}
.main__btn__item--yellow {
  color: #000;
  background-color: #ffe800;
}
.main .content__container {
  display: none;
  position: fixed;
  bottom: 6rem;
  width: 100%;
  max-width: 500px;
  height: 80%;
  border-radius: 2rem 2rem 0 0;
  background-color: #fff;
}
.main .content__container__close__btn {
  z-index: 99;
  position: sticky;
  top: 0;
  text-align: right;
}
.main .content__container__close__btn span {
  display: inline-block;
  padding: 0.3em 0.4em;
  line-height: 1em;
  font-size: 2.9em;
  cursor: pointer;
  color: #6f6f6f;
}
.main .content__wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 6rem;
}
.main .select__reservation .content__wrap {
  padding: 1.2em 1.5em 6rem;
}
.main .select__reservation .reservation__title__main {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .select__reservation .reservation__title__main__mark--pink {
  padding: 0.3em 1.5em;
  text-align: center;
  line-height: 0.9em;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  background-color: #f83152;
}
.main .select__reservation .reservation__title__main__text {
  padding-left: 0.3em;
  font-size: 1.5em;
  font-weight: 800;
}
.main .select__reservation .reservation__title__main .required__text span {
  font-size: 1.2em;
  font-weight: 600;
}
.main .select__reservation .reservation__list {
  padding-bottom: 6rem;
}
.main .select__reservation .reservation__list__item {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 7px;
}
.main .select__reservation .reservation__list__title__sub {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .select__reservation .reservation__list__title__sub--array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.main .select__reservation .reservation__list__title__sub__text {
  font-size: 1.3rem;
  font-weight: 700;
}
.main .select__reservation .reservation__list__title__sub .arrow__toggle__btn {
  font-weight: 900;
  cursor: pointer;
}
.main .select__reservation .reservation__list__answer__container {
  padding: 1.2em 1.5em;
  border-top: 1px solid #ddd;
}
.main .select__reservation .reservation__list__answer__container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .select__reservation .reservation__list__question {
  font-size: 1.3rem;
  font-weight: 500;
}
.main .select__reservation .reservation__list__question .asterisk--pink {
  vertical-align: middle;
  font-size: 1.2em;
}
.main .select__reservation .reservation__list__radio label:not(:last-child) {
  margin-right: 0.5em;
}
.main .select__reservation .reservation__list__radio__text {
  font-size: 1.3rem;
  font-weight: 500;
}
.main .select__reservation .reservation__list__select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.7em 1em;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  border: #989898;
  border-radius: 7px;
  color: #989898;
  background-color: #efefef;
}
.main .select__reservation .reservation__list__select-box option {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
  background-color: #fff;
}
.main .select__reservation .reservation__list__print-date {
  padding: 0.7em 1em;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  border: #989898;
  border-radius: 7px;
  color: #989898;
  background-color: #efefef;
}
.main .select__reservation .reservation__list__input--grid {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 0.5em;
}
.main .select__reservation .reservation__list__next__btn {
  display: block;
  margin: 1em auto 0;
  padding: 0.9em 0;
  width: 7em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  background-color: #f83152;
}
.main .select__reservation .reservation__list__next__btn--arrow {
  line-height: 0.5em;
  vertical-align: middle;
  font-size: 0.5em;
  font-weight: 600;
}
.main .select__reservation .reservation__list .btn__authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}
.main .select__reservation .reservation__list .btn__authentication--send {
  border: 1px solid #f83152;
  color: #f83152;
  background-color: #fff;
}
.main .select__reservation .reservation__list .btn__authentication--complete {
  color: #fff;
  background-color: #000;
}
.main .select__reservation .reservation__list .btn__authentication span {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}
.main .select__reservation .reservation__list .input__basic {
  padding: 0.7em 1em;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  border: #989898;
  border-radius: 7px;
  color: #989898;
  background-color: #efefef;
}
.main .select__reservation .reservation__list__agreement {
  padding: 1.2em 1.5em;
}
.main .select__reservation .reservation__list__agreement__text {
  margin: 1em 0;
  color: #989898;
  letter-spacing: -0.05em;
  font-size: 1.3rem;
}
.main .select__reservation .reservation__list__agreement__text .text__underline {
  text-decoration: underline;
  font-size: 1.3rem;
}
.main .select__reservation .reservation__answer {
  font-size: 1.3rem;
  font-weight: 500;
}
.main .select__reservation .reservation__submit__btn {
  position: fixed;
  bottom: 6rem;
  padding: 5px 2rem;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  background-color: #fff;
}
.main .select__reservation .reservation__submit__btn__text {
  display: block;
  margin: 0 auto;
  padding: 0.7em 0;
  width: 100%;
  max-width: calc(500px - 4rem);
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #989898;
}
.main .select__reservation .reservation__submit__btn--checked .reservation__submit__btn__text {
  color: #fff;
  background-color: #f83152;
}
.main .confirmation__container .confirmation__top {
  padding: 0 3.5rem 3.5rem;
}
.main .confirmation__container .confirmation__notice--top {
  text-align: right;
}
.main .confirmation__container .confirmation__notice--top .notice__text {
  font-size: 1.1em;
  font-weight: 500;
  color: #989898;
}
.main .confirmation__container .confirmation__notice--bottom {
  text-align: center;
}
.main .confirmation__container .confirmation__notice--bottom .notice__text {
  letter-spacing: -0.05em;
  font-size: 1.3em;
  font-weight: 500;
}
.main .confirmation__container .confirmation__cost {
  margin: 0.5em 0 1em;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: #fcfcfc;
}
.main .confirmation__container .confirmation__cost__text {
  padding: 1.8em 0;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 1.5em;
  font-weight: 600;
  color: #000;
}
.main .confirmation__container .confirmation__cost__text span {
  font-size: inherit;
  font-weight: inherit;
}
.main .confirmation__container .confirmation__capture__btn {
  margin: 2em auto 0;
  width: 9em;
  cursor: pointer;
}
.main .confirmation__container .confirmation__capture__btn span {
  display: block;
  padding: 0.6em 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  border-radius: 7px;
  color: #fff;
  background-color: #f83152;
}
.main .confirmation__container .confirmation__bottom {
  padding: 1.3rem;
  background-color: #efefef;
}
.main .confirmation__container .confirmation__bottom__wrap {
  padding: 5em 2em;
  background-color: #fff;
}
.main .confirmation__container .confirmation__bottom__row {
  border-bottom: 1px solid #ddd;
}
.main .confirmation__container .confirmation__bottom__today {
  text-align: right;
  font-size: 1.2em;
  font-weight: 500;
}
.main .confirmation__container .confirmation__bottom__title {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
}
.main .confirmation__container .confirmation__bottom__reservation__number {
  margin: 1em 0 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 500;
}
.main .confirmation__container .confirmation__table {
  margin-bottom: 2em;
  display: table;
  width: 100%;
}
.main .confirmation__container .confirmation__table * {
  font-size: 1em;
  font-weight: 600;
}
.main .confirmation__container .confirmation__table__row {
  display: table-row;
}
.main .confirmation__container .confirmation__table__cell {
  display: table-cell;
  padding: 0.8em 1em;
  font-size: 1.2em;
}
.main .confirmation__container .confirmation__table__head {
  color: #fff;
  background-color: #058afc;
}
.main .confirmation__container .confirmation__result__container {
  padding: 4em 0;
}
.main .confirmation__container .confirmation__result:not(:last-child) {
  margin-bottom: 2em;
}
.main .confirmation__container .confirmation__result__question {
  font-size: 1.2em;
  font-weight: 700;
}
.main .confirmation__container .confirmation__result__anwser {
  font-size: 1.2em;
  font-weight: 500;
}
.main .confirmation__container .confirmation__result__anwser span {
  font-size: inherit;
  font-weight: inherit;
}
.main .confirmation__container .confirmation__footer__corp {
  padding: 5em 0;
}
.main .confirmation__container .confirmation__footer__corp__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.1em;
}
.main .confirmation__container .confirmation__footer__corp__row * {
  letter-spacing: -0.05em;
  font-size: 1em;
  font-weight: 500;
}
.main .confirmation__container .confirmation__footer__corp__row:not(:last-child) {
  margin-bottom: 0.4em;
}
.main .confirmation__container .confirmation__footer__notice {
  padding-top: 3em;
}
.main .confirmation__container .confirmation__footer__notice li {
  margin-bottom: 0.3em;
  letter-spacing: -0.05em;
  font-size: 0.85em;
  font-weight: 400;
  color: #989898;
}
.main .select__place__title {
  margin-bottom: 2.8em;
  letter-spacing: -0.05em;
  text-align: center;
  font-size: 2.2em;
  font-weight: 700;
}
.main .select__place__list {
  padding: 0 3.5rem 3.5rem;
  display: grid;
  gap: 1em;
}
.main .select__place__link {
  display: block;
  padding: 1.5em 3em;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: #fcfcfc;
}
.main .select__place__link__text {
  font-size: 1.7em;
  font-weight: 600;
}

.footer {
  z-index: 99;
  position: fixed;
  bottom: 0;
  padding: 0 3.5rem;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
}
.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
}
.footer__nav__list__link {
  text-align: center;
}
.footer__nav__list__link img {
  width: 2.5em;
}
.footer__nav__list__link__middle__icon img {
  width: 3.5em !important;
}
.footer__nav__list__link__text {
  font-size: 0.9em;
  font-weight: 600;
}