$breakpoint-mobile: 335px;
$breakpoint-tablet: 500px;
$breakpoint-desktop: 1024px;

$font-main: 'Noto Sans KR', sans-serif;

$font-size-main: 10px;
$font-size-select: 1.3rem;
$font-size-confirmation: 1.2em;

$margin-top-folding-box: 1.2em;

$padding-main-grid: 3.5rem;
$padding-select-content: 1.2em 1.5em;
$padding-select-wrap: 2rem;
$padding-main-btn: 2em;
$padding-folding-box: 1.5rem 1.9rem;
$padding-inner-folding-box: 1em 1.5em;

$color-black: #000;
$color-white: #fff;
$color-gray: #989898;
$color-light-gray: #efefef;
$color-pink: #f83152;
$color-yellow: #ffe800;
$color-blue: #058afc;

$border-main: 1px solid #ddd;

$border-radius-img: 1em;
$border-radius-main: 7px;

$height-nav: 6rem;
$padding-nav: 1.3em;

$letter-spacing-basic: -0.05em;

$check-icon-size: 0.2em;