@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import "reset.scss";
@import "mixin.scss";

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: linear-gradient(to right, #96e3ff, #96fffa);
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: $breakpoint-tablet;
    overflow-y: scroll;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr $breakpoint-tablet 1fr;
}


// @include responsive(medium-screens) {
//     font-size: 3rem;
//     letter-spacing: 9px;
// }

@include responsive(medium-screens) {
    .container {
        display: block;
    }

    .bg__area {
        display: none;
    }
}

.bg__area {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    &__left {
        // position: fixed;

        &__list {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding-bottom: 4em;
            padding-right: 5em;
            border-bottom: 2px solid $color-white;

            &__text {
                line-height: 1.3em;
                font-size: 3.3em;
                font-weight: 700;
                color: $color-white;
            }
        }
    }

    &__right {
        &__person {
            position: absolute;
            bottom: -5px;
            width: 20em;

            img {
                width: 100%;
            }
        }
    }
}

// header
.header {
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 0 $padding-nav;
    width: 100%;
    max-width: $breakpoint-tablet;
    background-color: $color-white;

    &__nav {
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $height-nav;

            &__link {
                img {
                    width: 2.5em;
                }
            }

            &__logo {
                img {
                    width: 4.4em;
                }
            }

            // @include breakpoint-mobile {
                // &__logo {
                    // background-color: #f00;
                // }
            // }
        }
    }
}

.main {
    padding: $height-nav 0;

    // page01 CSS
    &.page01 {

        // swiper bullet css
        .swiper-pagination-bullet {
            background: #808080 !important;
            opacity: 1 !important;

            &-active {
                background-color: #FCE605 !important;
            }
        }

        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            top: 1.3em;
            right: 2em;
            left: auto !important;
            width: auto !important;
        }

        .rolling__banner {
            &__main {
                padding: 5em 0;
        
                &__slide {
                    position: relative;

                    .banner__bg__area {
                        video {
                            border-radius: $border-radius-img;
                        }
                    }
                }
    
                .slide__text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3em;
    
                    &__item {
                        display: block;
                        color: $color-white;
                    }
    
                    &__mark {
                        display: inline-block;
                        padding: 0.4em 0.6em;
                        line-height: 1em;
                        text-align: center;
                        font-size: 1.2em;
                        font-weight: 400;
                        background-color: $color-pink;
                    }
    
                    &__title__main {
                        margin: 0.5em 0;
                        line-height: 1.2em;
                        font-size: 2.4em;
                        font-weight: 600;
                    }
    
                    &__title__sub {
                        line-height: 1.2em;
                        font-size: 1.5em;
                    }
                }
            }
        }
        
    
        .article {
            margin-top: 4em;
            padding: 0 $padding-main-grid;
    
            .banner__list {
                &__title {
                    margin-bottom: 1em;
                    line-height: 1.3em;
                    letter-spacing: -0.04em;
                    font-size: 2.6em;
                    font-weight: 800;
                }
        
                &__item {
                    margin-bottom: 2.5em;
    
                    img {
                        margin-bottom: 1em;
                        width: 100%;
                        border-radius: $border-radius-img;
                    }
        
                    &__title {
                        span {
                            display: block;
                        }
        
                        &__main {
                            font-size: 2em;
                            font-weight: 700;
                        }
                        
                        &__sub {
                            font-size: 1.6em;
                            font-weight: 400;
                            color: $color-gray;
                        }
                    }
                }
        
                &__hashtag {
                    margin-top: 1em;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.3em;
        
                    &__item {
                        padding: 0.1em 0.7em;
                        font-size: 1.2em;
                        font-weight: 400;
                        border-radius: 0.3em;
                        color: $color-gray;
                        background-color: $color-light-gray;
                    }
                }
            }
        }
    
    }

    // page02 CSS
    &.page02 {
        // swiper bullet css
        .swiper-pagination {
            position: absolute;
            top: 0;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
            gap: 0.8em;
            margin: 0 !important;
            padding: 0 $padding-main-grid;
            width: 100% !important;
            height: 0;
        }

        .swiper-pagination-bullet {
            border-radius: 99em !important;
            width: auto !important;
            height: 2.6em !important;
            line-height: 2.5em !important;
            font-size: 1.4em;
            font-weight: 600;
            opacity: 1 !important;
            border: 1px solid $color-light-gray !important;
            color:#000 !important;
            background-color: #fff !important;

            &-active {
                opacity: 1 !important; 
                border: none !important;
                color : #fff !important; 
                background-color: #000 !important;
            }
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0;
        }

        .rolling__banner {
            // margin-top: 2em;
            padding: 0 0 $padding-main-grid;
        }

        .banner__list {
            margin-top: $padding-main-grid;
            padding: 0 $padding-main-grid;

            &__item {
                margin-bottom: 2em;
                display: grid;
                grid-template-columns: 1.2fr 2fr;
                gap: 1em;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    width: 100%;
                    border-radius: $border-radius-img;
                }
            }

            &__text {
                padding-top: 1.3em;
                // .text__item {
                //     // display: block;
                // }
                
                &__mark {
                    padding: 0.1em 0.5em;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: 500;

                    &--yellow {
                        background-color: #fee800;
                    }

                    &--pink {
                        color: #fff;
                        background-color: #f83152;
                    }
                }

                &__title {
                    margin: 0.3em 0;
                    display: block;
                    font-size: 1.6em;
                    font-weight: 700;
                }

                &__description {
                    display: block;
                    font-size: 1.2em;
                }
            }
        }
    }

    // 더보기 버튼
    .contents__more__btn {
        margin: 0 $padding-main-grid;
        padding-bottom: 3em;

        &__text {
            display: block;
            padding: 0.5em 0;
            text-align: center;
            font-size: 1.8em;
            font-weight: 700;
            border: 1px solid $color-black;
            border-radius: 0.3em;
            cursor: pointer;
        }
    }
}

.footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    padding: 0 $padding-main-grid;
    width: 100%;
    max-width: $breakpoint-tablet;
    background-color: $color-white;

    &__nav {

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $height-nav;

            &__link {
                text-align: center;

                img {
                    width: 2.5em;
                }

                &__middle__icon {
                    img {
                        width: 3.5em !important;
                    }
                }


                &__text {
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }
        }
    }
}