@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  color: #212121;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  overflow-x: hidden;
  -webkit-transition: 0.5s top;
  transition: 0.5s top;
}

ul, ol, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}