@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import "reset.scss";
@import "mixin.scss";

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background: linear-gradient(to right, #96e3ff, #96fffa);
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.row__gap {
    margin-bottom: 0.5em;
}

.asterisk {
    &--pink {
        color: $color-pink;
    }
}

.check__icon {
    padding: 0.3em 0.6em 0.6em;
    display: inline-block;
    border-radius: 99em;
    background-color: $color-light-gray;
    
    &__mark {
        width: 0.5em;
        height: 0.8em;
        border: 2px solid $color-white;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
    }

    &--checked {
        background-color: $color-pink;
    }
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: $breakpoint-tablet;
    overflow-y: scroll;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;

    &::-webkit-scrollbar {
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        // top: 50%;
        // left: 50%;
        width: 100%;
        height: calc(100vh - $padding-nav * 2);
        max-width: $breakpoint-tablet;
        background-color: #0009;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr $breakpoint-tablet 1fr;
}


// @include responsive(medium-screens) {
//     font-size: 3rem;
//     letter-spacing: 9px;
// }

@include responsive(medium-screens) {
    .container {
        display: block;
    }

    .bg__area {
        display: none;
    }
}

.bg__area {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    &__left {
        // position: fixed;

        &__list {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding-bottom: 4em;
            padding-right: 5em;
            border-bottom: 2px solid $color-white;

            &__text {
                line-height: 1.3em;
                font-size: 3.3em;
                font-weight: 700;
                color: $color-white;
            }
        }
    }

    &__right {
        &__person {
            position: absolute;
            bottom: -5px;
            width: 20em;

            img {
                width: 100%;
            }
        }
    }
}

// header
.header {
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 0 $padding-nav;
    width: 100%;
    max-width: $breakpoint-tablet;
    background-color: $color-white;

    &__nav {
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $height-nav;

            &__link {
                img {
                    width: 2.5em;
                }
            }

            &__logo {
                img {
                    width: 4.4em;
                }
            }
        }
    }
}

.main {
    position: relative;
    padding: $height-nav 0;

    &__image {
        img {
            width: 100%;
        }
    }

    &__btn {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;

        &__item {
            padding: 0.75em 0;
            text-align: center;
            line-height: 1.4em;
            font-size: 1.5em;
            font-weight: 700;
            border-radius: 0.4em;
            cursor: pointer;

            &--pink {
                color: #fff;
                background-color: $color-pink;
            }

            &--yellow {
                color: #000;
                background-color: $color-yellow;
            }
        }
    }

    .content__container {
        // padding-top: 5rem;
        // border-top: 1px solid #000;
        display: none;
        position: fixed;
        bottom: $height-nav;
        width: 100%;
        max-width: $breakpoint-tablet;
        height: 80%;
        border-radius: 2rem 2rem 0 0;
        background-color: $color-white;

        &__close__btn {
            z-index: 99;
            position: sticky;
            top: 0;
            text-align: right;

            span {
                display: inline-block;
                padding: 0.3em 0.4em;
                line-height: 1em;
                font-size: 2.9em;
                cursor: pointer;
                color: #6f6f6f;
            }
        }
    }

    .content__wrap {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 0 $height-nav;
    }

    // 모의견적 진행하기 박스
    .select__reservation {
        // position: relative;

        .content__wrap {
            padding: $padding-select-content $height-nav;
        }
        
        .reservation {
            &__title__main {
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                &__mark {
                    &--pink {
                        padding: 0.3em 1.5em;
                        text-align: center;
                        line-height: 0.9em;
                        font-size: 0.9em;
                        font-weight: 600;
                        color: $color-white;
                        background-color: $color-pink;
                    }
                }
    
                &__text {
                    padding-left: 0.3em;
                    font-size: 1.5em;
                    font-weight: 800;
                }
    
                .required__text {
                    span {
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                }
            }

            &__list {
                padding-bottom: $height-nav;
                &__item {
                    margin-bottom: 1em;
                    border: $border-main;
                    border-radius: $border-radius-main;
                }

                &__title__sub {
                    padding: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &--array {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                    }

                    &__text {
                        font-size: $font-size-select;
                        font-weight: 700;
                    }

                    .arrow__toggle__btn {
                        font-weight: 900;
                        cursor: pointer;
                    }
                }

                &__answer__container {
                    padding: $padding-select-content;
                    border-top: $border-main;

                    &--flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                &__question {
                    font-size: $font-size-select;
                    font-weight: 500;

                    .asterisk--pink {
                        vertical-align: middle;
                        font-size: 1.2em;
                    }
                }

                &__radio {
                    label {
                        &:not(:last-child) {
                            margin-right: 0.5em;
                        }
                    }
                    &__text {
                        font-size: $font-size-select;
                        font-weight: 500;
                    }
                }

                &__select-box {
                    -webkit-appearance: none;
                    -moz-appearance: none; 
                    appearance: none;
                    @include basicBoxStyle;

                    option {
                        font-size: $font-size-select;
                        font-weight: 500;
                        color: $color-black;
                        background-color: $color-white;
                    }
                }

                &__print-date {
                    @include basicBoxStyle;
                }

                &__input {
                    &--grid {
                        display: grid;
                        grid-template-columns: 2.3fr 1fr;
                        gap: 0.5em;
                    }
                }

                &__next__btn {
                    display: block;
                    margin: 1em auto 0;
                    padding: 0.9em 0;
                    width: 7em;
                    text-align: center;
                    vertical-align: middle;
                    line-height: $font-size-select;
                    font-size: $font-size-select;
                    font-weight: 600;
                    border-radius: $border-radius-main;
                    cursor: pointer;
                    color: $color-white;
                    background-color: $color-pink;

                    &--arrow {
                        line-height: 0.5em;
                        vertical-align: middle;
                        font-size: 0.5em;
                        font-weight: 600;
                    }
                }

                .btn__authentication {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $border-radius-main;
                    cursor: pointer;

                    &--send {
                        border: 1px solid $color-pink;
                        color: $color-pink;
                        background-color: $color-white;
                    }

                    &--complete {
                        color: $color-white;
                        background-color: $color-black;
                    }

                    span {
                        text-align: center;
                        font-size: $font-size-select;
                        font-weight: 500
                    }
                }

                .input__basic {
                    @include basicBoxStyle;
                }

                &__agreement {
                    padding: $padding-select-content;

                    &__text {
                        margin: 1em 0;
                        color: $color-gray;
                        letter-spacing: $letter-spacing-basic;
                        font-size: $font-size-select;

                        .text__underline {
                            text-decoration: underline;
                            font-size: $font-size-select;
                        }
                    }
                }
            }

            &__answer {
                font-size: $font-size-select;
                font-weight: 500;
            }
        }

        .reservation__submit__btn {
            position: fixed;
            bottom: $height-nav;
            padding: 5px $padding-select-wrap;
            width: 100%;
            max-width: $breakpoint-tablet;
            cursor: pointer;
            background-color: $color-white;

            &__text {
                display: block;
                margin: 0 auto;
                padding: 0.7em 0;
                width: 100%;
                max-width: calc($breakpoint-tablet - $padding-select-wrap * 2);
                font-size: 1.6em;
                font-weight: 700;
                text-align: center;
                border: none;
                border-radius: $border-radius-main;
                color: $color-white;
                background-color: $color-gray;
            }

            &--checked {
                .reservation__submit__btn__text {
                    color: $color-white;
                    background-color: $color-pink;
                }
            }
        }
    }

    // 모의견적 진행하기 박스 > 결과창
    .confirmation__container {
        .confirmation {
            &__top {
                padding: 0 $padding-main-grid $padding-main-grid;
            }

            &__notice {
                &--top {
                    text-align: right;

                    .notice__text {
                        font-size: 1.1em;
                        font-weight: 500;
                        color: $color-gray;
                    }
                }

                &--bottom {
                    text-align: center;

                    .notice__text {
                        letter-spacing: $letter-spacing-basic;
                        font-size: 1.3em;
                        font-weight: 500;
                    }
                }
            }

            &__cost {
                margin: 0.5em 0 1em;
                border: $border-main;
                border-radius: $border-radius-main;
                background-color: #fcfcfc;

                &__text {
                    padding: 1.8em 0;
                    text-align: center;
                    letter-spacing: $letter-spacing-basic;
                    font-size: 1.5em;
                    font-weight: 600;
                    color: $color-black;

                    span {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }
            }

            &__capture__btn {
                margin: 2em auto 0;
                width: 9em;
                cursor: pointer;

                span {
                    display: block;
                    padding: 0.6em 0;
                    text-align: center;
                    font-size: 1.4em;
                    font-weight: 600;
                    border-radius: $border-radius-main;
                    color: $color-white;
                    background-color: $color-pink;
                }
            }

            &__bottom {
                padding: 1.3rem;
                background-color: $color-light-gray;

                &__wrap {
                    padding: 5em 2em;
                    background-color: $color-white;
                }

                &__row {
                    border-bottom: $border-main;
                }

                &__today {
                    text-align: right;
                    font-size: 1.2em;
                    font-weight: 500;
                }

                &__title {
                    margin-top: 1em;
                    text-align: center;
                    font-size: 3em;
                    font-weight: 800;
                }

                &__reservation__number {
                    margin: 1em 0 2em;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 1.3em;
                    font-size: 1.3em;
                    font-weight: 500;
                }
            }

            &__table {
                margin-bottom: 2em;
                display: table;
                width: 100%;

                * {
                    font-size: 1em;
                    font-weight: 600;
                }

                &__row {
                    display: table-row;
                }

                &__cell {
                    display: table-cell;
                    padding: 0.8em 1em;
                    font-size: $font-size-confirmation;
                }

                &__head {
                    color: $color-white;
                    background-color: $color-blue;
                }
            }

            &__result__container {
                padding: 4em 0;
            }

            &__result {
                &:not(:last-child) {
                    margin-bottom: 2em;
                }

                &__question {
                    font-size: $font-size-confirmation;
                    font-weight: 700;
                }

                &__anwser {
                    font-size: $font-size-confirmation;
                    font-weight: 500;

                    span {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }
            }

            &__footer {
                &__corp {
                    padding: 5em 0;

                    &__row {
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        gap: 0.1em;

                        * {
                            letter-spacing: $letter-spacing-basic;
                            font-size: 1em;
                            font-weight: 500;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.4em;
                        }
                    }
                }

                &__notice {
                    padding-top: 3em;

                    li {
                        margin-bottom: 0.3em;
                        letter-spacing: $letter-spacing-basic;
                        font-size: 0.85em;
                        font-weight: 400;
                        color: $color-gray;
                    }
                }
            }
        }
    }

    // 카톡상담 박스
    .select__place {
        &__title {
            margin-bottom: 2.8em;
            letter-spacing: $letter-spacing-basic;
            text-align: center;
            font-size: 2.2em;
            font-weight: 700;
        }

        &__list {
            padding: 0 $padding-main-grid $padding-main-grid;
            display: grid;
            gap: 1em;
        }

        &__link {
            display: block;
            padding: 1.5em 3em;
            border: $border-main;
            border-radius: $border-radius-main;
            background-color: #fcfcfc;

            &__text {
                font-size: 1.7em;
                font-weight: 600;
            }
        }
    }
}

// 푸터
.footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    padding: 0 $padding-main-grid;
    width: 100%;
    max-width: $breakpoint-tablet;
    background-color: $color-white;

    &__nav {

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $height-nav;

            &__link {
                text-align: center;

                img {
                    width: 2.5em;
                }

                &__middle__icon {
                    img {
                        width: 3.5em !important;
                    }
                }

                &__text {
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }
        }
    }
}