$font-main: 'Kanit', sans-serif;
$font-logo: 'EB Garamond', serif;

$color-black: #000;
$color-white: #fff;
$color-green: #96a755;
$color-yellow: #ffecc0;
$color-pink: #fbb7ba;

$border-radius-main: 50px;